<%- model_class = Brand -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


  <% @brands.each do |brand| %>
    <% quantity = brand.stations.count %>
    <%= link_to "#{brand.name} (#{quantity})", "#{brand_path(brand)}/stations",  :class => 'btn btn-default' if quantity!=0 %>
  <% end %>



<br>
